.idea
.DS_Store
thumbs.db
*.log
.settings
.session.vim
coverage.html
lib-cov/
*.sublime-workspace
*.sublime-project
tmp/

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log